* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing:border-box;
}

body {

    background-color: #fefae0;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 42px;
    background-color: #283618;
    padding: 10px;
    text-align: center;
    color: white;
}

.container {
    width: fit-content;
    margin: 0 auto;
    /* padding: 0 10px; */
}

.recipe {
    display: inline-block;
}

.recipe-title {
    font-size: 22px;
    background-color: #283618;
    text-align: center;
    display: block;
    padding: 4px 0;
    text-decoration: none;
    color: white;
}

.thumb {
    width: 280px;
    height: 180px;
    display: block;
}